<html>
  <%- include partial/head %>
  <body>
    <%- include partial/menu %>
<!--Menu ======================================================================== Diatas-->

<div style="margin-top:100px"class="container">

  <input class="btn btn-warning" type="button" value="Go Back" onclick="history.back(-1)" />
  <br>
  <br>


  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Nama Pasien</th>
        <td><%= Datapasien_satu[0].nama %></td>
      </tr>
      <tr>
        <th>Alamat</th>
        <td><%= Datapasien_satu[0].alamat %></td>
      </tr>
      <tr>
        <th>Pekerjaan</th>
        <td><%= Datapasien_satu[0].pekerjaan %></td>
      </tr>
      <tr>
        <th>Telepon / HP</th>
        <td><%= Datapasien_satu[0].tlp %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= Datapasien_satu[0].email %></td>
      </tr>
    </tbody>
  </table>
  <a href="/pasien/edit/<%= Datapasien_satu[0].id %>"><button style="margin:5px" class="btn btn-danger" type="button" name="button">Edit Data Profil</button></a><a href="/pasien/delete/<%= Datapasien_satu[0].id %>"><button style="margin:5px" class="btn btn-danger" type="button" name="button">Delete Profil</button></a>
  <br>
  <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="text-align:center">Nama Dokter</th>
        <th style="text-align:center">Gigi Bermasalah</th>
        <th style="text-align:center">Gejala Sakit</th>
        <th style="text-align:center">Tindakan</th>
        <th style="text-align:center">Resep</th>
      </tr>
    </thead>
    <tbody>
      <%Datapasien.forEach((datapasien)=>{%>
        <tr> <!--ini harus didalam forEachnya-->
          <td><%=datapasien.Datadokter.nama%></td>
          <td><%=datapasien.gigi%></td>
          <td><%=datapasien.gejala%></td>
          <td><%=datapasien.tindakan%></td>
          <td><%=datapasien.resep%></td>
        </tr>
        </tr>
      <%})%>

    </tbody>
  </table>

</div>

</body>
</html>
